
#download-bottom-url {
	display: block;
	margin-top: 7px;
	margin-bottom: 3px;
}

#download-bottom-url > span {
	color: #bbbbbb!important;
}

#download-android-bottom svg,
#download-apple-bottom svg {
	height: 40px;
	width: auto;
	vertical-align: middle;
}

#download-apple-bottom {
	margin-left: 8px;
}
