DirectoryIndex Framework/HTML/Page.php

RewriteRule ^404$ /Framework/HTML/404.php [L]

RewriteBase /
RewriteEngine On
DirectorySlash Off

RewriteRule ^(.+)/$ $1 [R=301]

RewriteRule ^aboutme$ about_me [R=307,L]

RewriteRule ^facebook$ https://facebook.com/wcodesorg [R=307,L]
RewriteRule ^twitter$ https://twitter.com/wcodesorg [R=307,L]
RewriteRule ^gplus$ https://plus.google.com/+wcodesorg [R=307,L]

RewriteRule ^style.css$ Framework/CSS/Style.php [L]
RewriteRule ^script.js$ Framework/JS/Script.php [L]

RewriteRule ^manifest\.json$ /Framework/Files/Manifest.json.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.js$ Framework/JS/Link/$1.js [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.ico$ Resource/$1.ico [L]

RewriteCond %{DOCUMENT_ROOT}/Resource/$1 -d
RewriteRule ^(.*?)\.jpg$ Resource/$1/index.jpg [R=302,L]

RewriteCond %{DOCUMENT_ROOT}/Resource/$1 -d
RewriteRule ^(.*?)\.svg$ Resource/$1/index.svg [R=302,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.jpg$ Resource/$1.jpg [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.png$ Resource/$1.png [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.svg$ Resource/$1.svg [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/File%{REQUEST_URI} -f
RewriteRule ^(.+)$ file/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/Site%{REQUEST_URI} -f
RewriteRule ^(.+)$ site/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*?)\.json$ Framework/HTML/Component.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ Framework/HTML/Page.php [L]
